
#msform {
    width: 400px;
    margin: 50px auto;
    text-align: center;
    position: relative;
}
#msform fieldset {
    background: white;
    border: 0 none;
    border-radius: 3px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    padding: 20px 30px;
    box-sizing: border-box;
    width: 80%;
    margin: 0 10%;

    position: relative;
}

#msform fieldset:not(:first-of-type) {
    display: none;
}

#extended-msform {
    min-width: 400px;
    max-width: 800px;
    margin: 50px auto;
    text-align: center;
    position: relative;
}
#extended-msform fieldset {
    background: white;
    border: 0 none;
    border-radius: 3px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    padding: 20px 30px;
    box-sizing: border-box;
    width: 80%;
    margin: 0 10%;

    position: relative;
}

#extended-msform fieldset:not(:first-of-type) {
    display: none;
}

input, textarea {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    color: #2C3E50;
    font-size: 13px;
}

#msform .action-button {
    width: 100px;
    background: #27AE60;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 1px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
}
#msform .action-button:hover, .action-button:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
}

#msform .action-button-red {
    width: 100px;
    background: #b33838;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 1px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
}

#msform .action-button-red:hover, .action-button-red:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #b33838;
}

#extended-msform .action-button-red {
    width: 100px;
    background: #b33838;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 1px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
}

#extended-msform .action-button-red:hover, .action-button-red:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #b33838;
}

#extended-msform .action-button-grey {
    width: 100px;
    background: grey;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 1px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
}
#extended-msform .action-button-grey:hover, .action-button-grey:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px grey;
}

.fs-title {
    font-size: 15px;
    text-transform: uppercase;
    color: #2C3E50;
    margin-bottom: 10px;
}
.fs-subtitle {
    font-weight: normal;
    font-size: 13px;
    color: #666;
    margin-bottom: 20px;
}
