
.title-site{
    padding-left: 15px;
}

.button-bar {
    text-align: center;
    background: #675656;
    color: white;
    padding: 15px;
}

.button-bar:hover{
    background: #2aa198;
}

.bar:hover, .bar{
    text-decoration: none;
    text-decoration-line: none;
}
body{
    background: #e6e6e6;
}

.messagebox{
    margin: 5px;
}

.container-card{
    padding-left: 50px;
    padding-right: 50px;
    height: 1150px;
}

.paddingcard{
    padding: 20px;
}

.annonce-card{
    min-width: 100px;
    max-width: 400px;
    height: 500px;
    background: white;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);

}

.red-bold-text{
    color: #b33838;
    font-weight: bold;
}

.blank{
    height: 50px;
}

footer{
    background: #675656;
    text-align: center;
    color: white;
    margin-top: 20px;
    padding: 10px;
    width: 100%;
    position: relative;
}